/Frontend/web-app1/
/Frontend/web-app3/.env
/Frontend/web-app3/escala/.env.local
/Data/postgres/.env
/Data/postgres/init.sql
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/data_source_mapping.xml
/.idea/dataSources.xml
/.idea/prettier.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/git_toolbox_prj.xml
/.idea/sqldialects.xml
/Data/postgres/.idea/workspace.xml
Backend/java-app1/
