/Frontend/web-app1/
/Frontend/web-app3/.env
/Frontend/web-app3/escala/.env.local
/Dados/postgres/.env
/Dados/postgres/init.sql
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/data_source_mapping.xml
/.idea/dataSources.xml
/.idea/prettier.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
