.git
.github
.idea
.cache
.eslintcache
.pnpm-store
.tsbuildinfo
.env
.env.*
.tmp
build
coverage
dist
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
public/uploads/*
!public/uploads/.gitkeep
Docker/docker-compose.yml
