POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-postgres-admin
POSTGRES_DB=postgres

ESCALA_DB_NAME=escala_core
ESCALA_DB_USER=escala_api_user
ESCALA_DB_PASSWORD=change-me-escala-db

STRAPI_DB_NAME=strapi_cms
STRAPI_DB_USER=strapi_user
STRAPI_DB_PASSWORD=change-me-strapi-db
