.git
.github
.idea
.next
node_modules
.pnpm-store
.turbo
.eslintcache
coverage
dist
build
playwright-report
test-results
*.log
pnpm-debug.log*
core
core.*
tsconfig.tsbuildinfo
.env.local
.env
Dockerfile
docker-compose*.yml
